
.jumbotron-hero {
    /* Choisis la hauteur ici */
    height: 500px;
  
    /* Tu lui donnes une image de background */
    background-image: url("img/img0.JPG");
  
    /* Centre l'image et la met bien sur tous les écrans */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .jumbotron-heading
  {
      color: #FFF
  }

.font-white
{
    color: #FFF
}
  
  .fit-picture 
  {
      width: 100%;
  }